In [1]:
# I am using 3.9.7.
import sys
print("Python Version is: " + sys.version)

Python Version is: 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

In [2]:
# importing libraries 
import pandas as pd
import numpy as np

# Ignore all warnings
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings(action='ignore', category=DeprecationWarning)
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x) 
#pd.set_option('display.max_rows', None)

In [3]:
# Loading dataset labeled "Pizza Place Sales" 
# Link: https://www.mavenanalytics.io/data-playground 

import time
time_begin = time.time()

od = pd.read_csv("order_details.csv")
o = pd.read_csv("orders.csv")
pt = pd.read_csv("pizza_types.csv",encoding= 'unicode_escape')
p = pd.read_csv("pizzas.csv")

print(f'Run time: {round(((time.time()-time_begin)/60), 3)} mins') 

# I like to print the time it takes to load a file

Run time: 0.001 mins

In [4]:
od.head(2)

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1

In [5]:
o.head(2)

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40

In [6]:
pt.head(2)

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."

In [7]:
p.head(2)

    pizza_id pizza_type_id size  price
0  bbq_ckn_s       bbq_ckn    S  12.75
1  bbq_ckn_m       bbq_ckn    M  16.75

### Splitting strings based on comma

In [8]:
pt['ingredients']=pt['ingredients'].str.split(pat = ',')

In [9]:
pt

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"[Barbecued Chicken, Red Peppers, Green Peppe..."
1,cali_ckn,The California Chicken Pizza,Chicken,"[Chicken, Artichoke, Spinach, Garlic, Jala..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"[Chicken, Red Onions, Red Peppers, Mushroom..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"[Chicken, Tomatoes, Red Peppers, Spinach, ..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"[Chicken, Tomatoes, Red Peppers, Red Onions..."
5,thai_ckn,The Thai Chicken Pizza,Chicken,"[Chicken, Pineapple, Tomatoes, Red Peppers,..."
6,big_meat,The Big Meat Pizza,Classic,"[Bacon, Pepperoni, Italian Sausage, Chorizo..."
7,classic_dlx,The Classic Deluxe Pizza,Classic,"[Pepperoni, Mushrooms, Red Onions, Red Pepp..."
8,hawaiian,The Hawaiian Pizza,Classic,"[Sliced Ham, Pineapple, Mozzarella Cheese]"
9,ital_cpcllo,The Italian Capocollo Pizza,Classic,"[Capocollo, Red Peppers, Tomatoes, Goat Che..."
10,napolitana,The Napolitana Pizza,Classic,"[Tomatoes, Anchovies, Green Olives, Red Oni..."
11,pep_msh_pep,"The Pepperoni, Mushroom, and Peppers Pizza",Classic,"[Pepperoni, Mushrooms, Green Peppers]"
12,pepperoni,The Pepperoni Pizza,Classic,"[Mozzarella Cheese, Pepperoni]"
13,the_greek,The Greek Pizza,Classic,"[Kalamata Olives, Feta Cheese, Tomatoes, Ga..."
14,brie_carre,The Brie Carre Pizza,Supreme,"[Brie Carre Cheese, Prosciutto, Caramelized ..."
15,calabrese,The Calabrese Pizza,Supreme,"[Nduja Salami, Pancetta, Tomatoes, Red Oni..."
16,ital_supr,The Italian Supreme Pizza,Supreme,"[Calabrese Salami, Capocollo, Tomatoes, Red..."
17,peppr_salami,The Pepper Salami Pizza,Supreme,"[Genoa Salami, Capocollo, Pepperoni, Tomato..."
18,prsc_argla,The Prosciutto and Arugula Pizza,Supreme,"[Prosciutto di San Daniele, Arugula, Mozzare..."
19,sicilian,The Sicilian Pizza,Supreme,"[Coarse Sicilian Salami, Tomatoes, Green Oli..."
20,soppressata,The Soppressata Pizza,Supreme,"[Soppressata Salami, Fontina Cheese, Mozzare..."
21,spicy_ital,The Spicy Italian Pizza,Supreme,"[Capocollo, Tomatoes, Goat Cheese, Artichok..."
22,spinach_supr,The Spinach Supreme Pizza,Supreme,"[Spinach, Red Onions, Pepperoni, Tomatoes, ..."
23,five_cheese,The Five Cheese Pizza,Veggie,"[Mozzarella Cheese, Provolone Cheese, Smoked..."
24,four_cheese,The Four Cheese Pizza,Veggie,"[Ricotta Cheese, Gorgonzola Piccante Cheese, ..."
25,green_garden,The Green Garden Pizza,Veggie,"[Spinach, Mushrooms, Tomatoes, Green Olives..."
26,ital_veggie,The Italian Vegetables Pizza,Veggie,"[Eggplant, Artichokes, Tomatoes, Zucchini, ..."
27,mediterraneo,The Mediterranean Pizza,Veggie,"[Spinach, Artichokes, Kalamata Olives, Sun-..."
28,mexicana,The Mexicana Pizza,Veggie,"[Tomatoes, Red Peppers, Jalapeno Peppers, R..."
29,spin_pesto,The Spinach Pesto Pizza,Veggie,"[Spinach, Artichokes, Tomatoes, Sun-dried T..."
30,spinach_fet,The Spinach and Feta Pizza,Veggie,"[Spinach, Mushrooms, Red Onions, Feta Chees..."
31,veggie_veg,The Vegetables + Vegetables Pizza,Veggie,"[Mushrooms, Tomatoes, Red Peppers, Green Pe..."

In [10]:
pt_model = pd.DataFrame(pt['ingredients'].tolist()).fillna('None').add_prefix('items_')

In [11]:
pt = pd.concat([pt, pt_model], axis=1)

In [12]:
pt.head(2)

,pizza_type_id,name,category,ingredients,items_0,items_1,items_2,items_3,items_4,items_5,items_6,items_7
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"[Barbecued Chicken, Red Peppers, Green Peppe...",Barbecued Chicken,Red Peppers,Green Peppers,Tomatoes,Red Onions,Barbecue Sauce,None,None
1,cali_ckn,The California Chicken Pizza,Chicken,"[Chicken, Artichoke, Spinach, Garlic, Jala...",Chicken,Artichoke,Spinach,Garlic,Jalapeno Peppers,Fontina Cheese,Gouda Cheese,None

### Removing "The" at the start of each name

In [13]:
pt['name']=pt['name'].str[3:]

In [14]:
pt[pt['pizza_type_id'] == 'hawaiian']

,pizza_type_id,name,category,ingredients,items_0,items_1,items_2,items_3,items_4,items_5,items_6,items_7
8,hawaiian,Hawaiian Pizza,Classic,"[Sliced Ham, Pineapple, Mozzarella Cheese]",Sliced Ham,Pineapple,Mozzarella Cheese,None,None,None,None,None

### Merging data frames into 1 data frame

In [15]:
df=od.merge(o, how='left', on='order_id')

In [16]:
df=df.merge(p, how='left', on='pizza_id')

In [17]:
df.head(2)

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,size,price
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,hawaiian,M,13.25
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,classic_dlx,M,16.00

In [18]:
df=df.merge(pt, how='left', on='pizza_type_id')

In [19]:
df.head(2)

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,size,price,name,category,ingredients,items_0,items_1,items_2,items_3,items_4,items_5,items_6,items_7
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,hawaiian,M,13.25,Hawaiian Pizza,Classic,"[Sliced Ham, Pineapple, Mozzarella Cheese]",Sliced Ham,Pineapple,Mozzarella Cheese,None,None,None,None,None
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,classic_dlx,M,16.00,Classic Deluxe Pizza,Classic,"[Pepperoni, Mushrooms, Red Onions, Red Pepp...",Pepperoni,Mushrooms,Red Onions,Red Peppers,Bacon,None,None,None

### Exporting Clean CSV

In [20]:
df.to_csv('CleanedDF.csv', index = False)